<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hjzl_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{348,423}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,423}}</string>
                <key>sourceSize</key>
                <string>{348,423}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hjzlgate2.png</string>
            <key>size</key>
            <string>{352,427}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8447024549e10ab1d6a487e5eb9785c2:7e5842253323921b2da678f2d5583f74:96082b26ad830aadd190e746b6f8db77$</string>
            <key>textureFileName</key>
            <string>hjzlgate2.png</string>
        </dict>
    </dict>
</plist>
