<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nm_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{926,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{926,282}}</string>
                <key>sourceSize</key>
                <string>{926,282}</string>
            </dict>
            <key>nm_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,513},{905,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{905,298}}</string>
                <key>sourceSize</key>
                <string>{905,298}</string>
            </dict>
            <key>nm_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,813},{902,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{902,168}}</string>
                <key>sourceSize</key>
                <string>{902,168}</string>
            </dict>
            <key>nm_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{908,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{908,225}}</string>
                <key>sourceSize</key>
                <string>{908,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nmm1.png</string>
            <key>size</key>
            <string>{930,983}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:596a4420553d45dc52bd215c65b8d9f1:e414f3400efaeb6bc7e2761fcae80aa2:764455598a2c77d8e82baa9f3edfad14$</string>
            <key>textureFileName</key>
            <string>nmm1.png</string>
        </dict>
    </dict>
</plist>
